html, body {
    box-sizing: border-box;
}
:root {
    /* light mode: */
    --bg-dark: oklch(0.92 0.065 80);
    --bg: oklch(0.96 0.065 80);
    --bg-light: oklch(1 0.065 80);
    --text: oklch(0.15 0.13 80);
    --text-muted: oklch(0.4 0.13 80);
    --highlight: oklch(1 0.13 80);
    --border: oklch(0.6 0.13 80);
    --border-muted: oklch(0.7 0.13 80);
    --primary: oklch(0.4 0.13 80);
    --secondary: oklch(0.4 0.13 260);
    --danger: oklch(0.5 0.13 30);
    --warning: oklch(0.5 0.13 100);
    --success: oklch(0.5 0.13 160);
    --info: oklch(0.5 0.13 260);
    /* dark mode
    --bg-dark: oklch(0.1 0.065 80);
    --bg: oklch(0.15 0.065 80);
    --bg-light: oklch(0.2 0.065 80);
    --text: oklch(0.96 0.1 80);
    --text-muted: oklch(0.76 0.1 80);
    --highlight: oklch(0.5 0.13 80);
    --border: oklch(0.4 0.13 80);
    --border-muted: oklch(0.3 0.13 80);
    --primary: oklch(0.76 0.13 80);
    --secondary: oklch(0.76 0.13 260);
    --danger: oklch(0.7 0.13 30);
    --warning: oklch(0.7 0.13 100);
    --success: oklch(0.7 0.13 160);
    --info: oklch(0.7 0.13 260);
     */
}

body {
    border: 1px solid darkred;
    display: grid;
    grid-template-areas:
            'header-container header-container header-container'
            'hero-container hero-container about-container'
            'projects-container projects-container projects-container'
            'contact-container social-container skills-container'
            'footer-container footer-container footer-container';
    grid-gap: 1rem;
    padding: 2rem;
    background-color: var(--bg-light);
}

.header-container {
    grid-area: header-container;
    width: 100%;
    height: 25%;
    background-color: var(--bg);
}

.hero-container {
    grid-area: hero-container;
    width: 67%;
    height: 25%;
    background-color: var(--bg-dark);
}

.about-container {
    grid-area: about-container;

}

.projects-container {
    grid-area: projects-container;
}

.contact-container {
    grid-area: contact-container;
}

.social-container {
    grid-area: social-container;
}

.skills-container {
    grid-area: skills-container;
}

.footer-container {
    grid-area: footer-container;
}
