/* use CSS grid in some fashion for the layout. it's perfect for that!
 */
//light mode
:root {
    --bg-dark: oklch(0.92 0.065 80);
    --bg: oklch(0.96 0.065 80);
    --bg-light: oklch(1 0.065 80);
    --text: oklch(0.15 0.13 80);
    --text-muted: oklch(0.4 0.13 80);
    --highlight: oklch(1 0.13 80);
    --border: oklch(0.6 0.13 80);
    --border-muted: oklch(0.7 0.13 80);
    --primary: oklch(0.4 0.13 80);
    --secondary: oklch(0.4 0.13 260);
    --danger: oklch(0.5 0.13 30);
    --warning: oklch(0.5 0.13 100);
    --success: oklch(0.5 0.13 160);
    --info: oklch(0.5 0.13 260);
    /* dark mode:
    --bg-dark: oklch(0.1 0.065 80);
    --bg: oklch(0.15 0.065 80);
    --bg-light: oklch(0.2 0.065 80);
    --text: oklch(0.96 0.1 80);
    --text-muted: oklch(0.76 0.1 80);
    --highlight: oklch(0.5 0.13 80);
    --border: oklch(0.4 0.13 80);
    --border-muted: oklch(0.3 0.13 80);
    --primary: oklch(0.76 0.13 80);
    --secondary: oklch(0.76 0.13 260);
    --danger: oklch(0.7 0.13 30);
    --warning: oklch(0.7 0.13 100);
    --success: oklch(0.7 0.13 160);
    --info: oklch(0.7 0.13 260);
     */
}