/* excellent 'how to set a full doc font downloaded from Google Fonts problem: */
@font-face {
    font-family: 'Space Mono';
    src: url('./assets/fonts/SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* light mode: */
    --bg-dark: oklch(0.92 0.065 80);
    --bg: oklch(0.96 0.065 80);
    --bg-light: oklch(1 0.065 80);
    --text: oklch(0.15 0.13 80);
    --text-highlight: red;
    --text-muted: oklch(0.4 0.13 80);
    --highlight: oklch(1 0.13 80);
    --border: oklch(0.6 0.13 80);
    --border-muted: oklch(0.7 0.13 80);
    --primary: oklch(0.4 0.13 80);
    --secondary: oklch(0.4 0.13 260);
    --danger: oklch(0.5 0.13 30);
    --warning: oklch(0.5 0.13 100);
    --success: oklch(0.5 0.13 160);
    --info: oklch(0.5 0.13 260);
    /* dark mode
    --bg-dark: oklch(0.1 0.065 80);
    --bg: oklch(0.15 0.065 80);
    --bg-light: oklch(0.2 0.065 80);
    --text: oklch(0.96 0.1 80);
    --text-muted: oklch(0.76 0.1 80);
    --highlight: oklch(0.5 0.13 80);
    --border: oklch(0.4 0.13 80);
    --border-muted: oklch(0.3 0.13 80);
    --primary: oklch(0.76 0.13 80);
    --secondary: oklch(0.76 0.13 260);
    --danger: oklch(0.7 0.13 30);
    --warning: oklch(0.7 0.13 100);
    --success: oklch(0.7 0.13 160);
    --info: oklch(0.7 0.13 260);
     */
}

/* add media queries to ensure responsiveness */

body {
    font-family: 'Space Mono', monospace, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-areas:
    'header-container header-container header-container'
    'hero-container hero-container about-container'
    'project-container project-container project-container'
    'contact-container social-container skills-container'
    'footer-container footer-container footer-container';
    grid-gap: 10px;
    background-color: var(--bg-light);
    padding: 10px;
}

.header-container {
    grid-area: header-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}
.header-logo {
    grid-area: header-logo;
    width: 100px;
    height: 100px;
    contain: strict;
    margin: 0 auto;
}
/* nav bar w flexbox prime example */
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;

}
nav ul li a {
    color: var(--text);
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
nav ul li a:hover {
    color: var(--text-highlight);
}

.hero-container {
    grid-area: hero-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}
.about-container {
    grid-area: about-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}
.project-container {
    grid-area: project-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.contact-container {
    grid-area: contact-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.social-container {
    grid-area: social-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.skills-container {
    grid-area: skills-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.footer-container {
    grid-area: footer-container;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}