:root {
    /* light mode: */
    --bg-dark: oklch(0.92 0.065 80);
    --bg: oklch(0.96 0.065 80);
    --bg-light: oklch(1 0.065 80);
    --text: oklch(0.15 0.13 80);
    --text-muted: oklch(0.4 0.13 80);
    --highlight: oklch(1 0.13 80);
    --border: oklch(0.6 0.13 80);
    --border-muted: oklch(0.7 0.13 80);
    --primary: oklch(0.4 0.13 80);
    --secondary: oklch(0.4 0.13 260);
    --danger: oklch(0.5 0.13 30);
    --warning: oklch(0.5 0.13 100);
    --success: oklch(0.5 0.13 160);
    --info: oklch(0.5 0.13 260);
    /* dark mode
    --bg-dark: oklch(0.1 0.065 80);
    --bg: oklch(0.15 0.065 80);
    --bg-light: oklch(0.2 0.065 80);
    --text: oklch(0.96 0.1 80);
    --text-muted: oklch(0.76 0.1 80);
    --highlight: oklch(0.5 0.13 80);
    --border: oklch(0.4 0.13 80);
    --border-muted: oklch(0.3 0.13 80);
    --primary: oklch(0.76 0.13 80);
    --secondary: oklch(0.76 0.13 260);
    --danger: oklch(0.7 0.13 30);
    --warning: oklch(0.7 0.13 100);
    --success: oklch(0.7 0.13 160);
    --info: oklch(0.7 0.13 260);
     */
}
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header'
    'sidebar-left main sidebar-right'
    'footer footer footer';
    grid-gap: 10px;
    background-color: var(--bg-light);
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
}